{extend name="base"}
{block name="content"}
<div class="content">
    <div class="sub-nav-wrap">
        <a class="sub-nav" href="{:url('Intro/index')}">大赛简介</a>
        <a class="sub-nav sub-nav-cur" href="javascript:">大赛组织</a>
        <a class="sub-nav" href="{:url('Intro/standard')}">评审标准</a>
        <a class="sub-nav" href="{:url('Intro/reward')}">奖励政策</a>
        <a class="sub-nav" href="{:url('Intro/arrange')}">赛事安排</a>
        <div class="sub-nav-line"></div>
    </div>
    <div class="sub-content no-crumbs">
        <div class="sub-content-info-wrap">
            <div class="sub-content-info">
                <span class="info-tip">主办单位</span>
                四川省通信管理局、四川省总工会
            </div>
            <div class="sub-content-info">
                <span class="info-tip">承办单位</span>
                四川通信行业职业技能鉴定中心
            </div>
            <div class="sub-content-info">
                <span class="info-tip">协办单位</span>
                四川省5G产业联盟
            </div>
            <div class="sub-content-info">
                <span class="info-tip">支持单位</span>
                中国电信股份有限公司四川分公司 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 中国移动通信集团四川有限公司 <br>
            </div>
            <div class="sub-content-info">
                <span class="info-tip" style="visibility: hidden;">支持单位</span>
                中国联合网络通信集团有限公司四川省分公司 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 成都索贝数码科技股份有限公司
            </div>
        </div>

        <div class="sub-across-bg"></div>
        <div class="sub-across-bg sub-across-bg-bottom"></div>
        <div class="sub-vertical-bg"></div>
        <div class="sub-vertical-bg sub-vertical-bg-right"></div>
    </div>
</div>
</div>
{/block}
