{extend name="base"}
{block name="content"}
<div class="content">
    <div class="sub-nav-wrap">
        <a class="sub-nav" href="{:url('Intro/index')}">大赛简介</a>
        <a class="sub-nav" href="{:url('Intro/org')}">大赛组织</a>
        <a class="sub-nav" href="{:url('Intro/standard')}">评审标准</a>
        <a class="sub-nav sub-nav-cur" href="javascript:">奖励政策</a>
        <a class="sub-nav" href="{:url('Intro/arrange')}">赛事安排</a>
        <div class="sub-nav-line"></div>
    </div>
    <div class="sub-content no-crumbs">
        <div class="sub-content-info-wrap">
            <div class="sub-content-info">
                <img src="__HOME_IMG__/jiangbei.png"> &nbsp;一等奖1名，二等奖2名，三等奖3名，优秀奖6名。
            </div>
            <div class="sub-content-info">
                <img src="__HOME_IMG__/jiangbei.png">&nbsp; 获奖项目被授予“2020年四川省5G创新应用大赛”一、二、三等奖及优秀奖，并推荐参加<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;第三届“绽放杯”5G应用征集大赛。
            </div>
            <div class="sub-content-info">
                <img src="__HOME_IMG__/jiangbei.png">&nbsp; 决赛一等奖项目技术负责人(所在单位在四川注册)，可按程序申报“四川省五一劳动奖章”。
            </div>
			<div class="sub-content-info">
                <img src="__HOME_IMG__/jiangbei.png">&nbsp; 对获奖项目落地实施配套建设5G基站予以支持。
			</div>
            <div class="sub-content-info">
                <img src="__HOME_IMG__/jiangbei.png">&nbsp; 获奖项目将通过本省电视、电台、报纸、网站等多媒体渠道进行全程宣传推广。
            </div>
        </div>

        <div class="sub-across-bg"></div>
        <div class="sub-across-bg sub-across-bg-bottom"></div>
        <div class="sub-vertical-bg"></div>
        <div class="sub-vertical-bg sub-vertical-bg-right"></div>
    </div>
</div>
</div>
{/block}
