{extend name="base"}
{block name="content"}
<!--公共头部-->
<div class="content">
    <div class="light-bg"></div>
    <div class="light-bg light-bg-right"></div>
    <div class="content-title"></div>
    <div class="content-sub-title">领航新基建  融创新未来</div>
    <div class="info-wrap">
        <div class="info-time" >赛事时间：2020年7月-2020年8月</div>
        <div class="hold">
            <div class="hold-left hold-just">
                <div>主办单位</div>
                <div>承办单位</div>
                <div>协办单位</div>
                <div>技术支持单位</div>
            </div>
            <div class="hold-left">
                <div>：</div>
                <div>：</div>
                <div>：</div>
                <div>：</div>
            </div>
            <div class="hold-left">
                <div>四川省通信管理局、四川省总工会</div>
                <div>四川通信行业职业技能鉴定中心</div>
                <div>四川省5G产业联盟</div>
                <div>中国电信股份有限公司四川分公司</div>
                <div>中国移动通信集团四川有限公司</div>
                <div>中国联合网络通信集团有限公司四川省分公司</div>
                <div>成都索贝数码科技股份有限公司</div>
            </div>
        </div>
        <div class="info-code">
            <div class="code-img">
                <img src="__HOME_IMG__/code.png">
            </div>
            <div class="code-tip">关注微信公众号</div>
            <a class="sign-btn" href="javascript:">
                参赛报名
            </a>
        </div>
    </div>
</div>
{/block}

